<title>
  <%= title %>
</title>

<form action="/users/create-session" method="POST" class="position-absolute top-50 start-50 translate-middle" >

  <!-- Heading -->
  <div class="mb-3">
    <h1> Sign in </h1>
  </div>

  <!-- Username as employee id-->
  <div class="mb-3">
    <label for="sign-in-employee-id" class="form-label">Employee ID</label>
    <input type="text" class="form-control" name="employee_id" aria-describedby="emailHelp" required>
  </div>

  <!-- Password -->
  <div class="mb-3">
    <label for="sign-in-password" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" required>
  </div>
  
  <!-- Submit button -->
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>